* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(to bottom, #F2F6D0, #F2F6D0);
    background: #fff;
    color: #333;
    margin: 0;
}

nav {
    width: 100%;
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0px solid #F2F6D0;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav .logo {
    font-size: 22px;
    font-weight: 700;
    color: #5c4631;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #5c4631;
    font-weight: 700;
    padding: 10px 0;
}

nav ul li a:hover {
    color: #D98324;
}

.underline-nav a:hover {
    color: #D98324
}

.underline-nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #D98324;
    transition: width 0.3s ease;
}

.underline-nav a:hover::after {
    width: 100%;
}

.hero {
    height: 600px;
    background-image: url("img/home bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 45px;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px 25px;
    border-radius: 12px;
    color: #4a3728;
}

@keyframes heroZoom {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.hero h1 {
    animation: heroZoom 0.8s ease-out forwards;
}

.tagline {
    font-size: 20px;
    color: #f0f0f0;
    margin-top: 0;
    animation: heroFadeUp 1s ease-out forwards;
}

@keyframes heroFadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.why-title {
    padding: 20px 0px;
    background-color: white;
}

.why h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: #443627;
    padding: 30px 0px;
    border-radius: 0px;
}

.why-item {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 0px;
    padding: 0px 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.why-item.reverse {
    flex-direction: row-reverse;
}

.why-item img {
    width: 45%;
    border-radius: 16px;
    object-fit: cover;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.why-item img:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

.why-text {
    width: 55%;
}

.why-text h3 {
    margin-bottom: 12px;
    font-size: 22px;
    color: #3F2305;
    animation: heroFadeUp 1s ease-out forwards;
}


.why-text p {
    font-size: 20px;
    line-height: 1.7;
    color: #ffffff;
    animation: heroFadeUp 1s ease-out forwards;
}

.why-item.item-1 { 
    background-color: #D98324;
}

.why-item.item-2 {
    background-color: #543A14;
}

.why-item.item-3 {
    background-color: #EFDCAB;
}

.why-item.item-4 {
    background-color: #443627;
}

.why-item.item-1 .why-text h3 {
    color: #ffffff
}

.why-item.item-1 .why-text h3,
.why-item.item-1 .why-text p {
    color: #3B3B1A;
}

.why-item.item-2 .why-text h3,
.why-item.item-2 .why-text p {
    color: #ffffff;
}

.why-item.item-3 .why-text h3,
.why-item.item-3 .why-text p {
    color: #543A14;
}

.why-item.item-4 .why-text h3,
.why-item.item-4 .why-text p {
    color: #ffffff;
}

.collections-section {
    max-width: 3000px;
    margin: 0 auto;
    padding: 30px 40px;
    padding-bottom: 100px;
    background-color: #D98324;
}

.collections-section h2 {
    font-size: 32px;
    color: #443627;
    margin-bottom: 30px;
    animation: heroFadeUp 1s ease-out forwards;
}

.collections-section p {
    font-size: 20px;
    color: #443627;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.input {
  width: 300px;
  height: 35px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  caret-color: rgba(145, 49, 4, 0.541);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  margin-bottom: 30px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}

.collections-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
    row-gap: 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.collections-book {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    font-family: sans-serif;
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 110%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.collections-book:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #443627;
    border-radius: 1rem;
}

.flip-card-back {
    background-color: #F8F3D9;
    transform: rotateY(180deg);
}

.menu-section {
    padding: 50px 30px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #543A14;
}

.menu-section h2 {
    font-size: 32px;
    color: white;
    margin-bottom: 40px;
    animation: heroFadeUp 1s ease-out forwards;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.menu-card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    cursor: pointer;
}

.menu-card:hover {
    transform: translateY(-5px);
}

.menu-card summary {
    list-style: none;
    padding: 0;
}

.menu-card summary::-webkit-details-marker {
    display: none;
}

.menu-card summary img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.menu-card summary h3 {
    font-size: 20px;
    color: #4a3728;
    padding: 15px 0px;
}

.menu-card ul {
    padding: 0 20px 20px;
    list-style: none;
}

.menu-card li {
    padding: 6px 0;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    color: #4a3728;
}

button {
    padding: 10px;
    background: #b08b62;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #8a6b4c;
}

.facilities-hero {
    padding: 30px 30px;
    text-align: center;
    background-color: #EFDCAB;
}

.facilities-hero h1 {
    margin-bottom: 12px;
    font-size: 30px;
    color: #3F2305;
    animation: heroFadeUp 1s ease-out forwards;
}

.facilities-hero p {
    margin-bottom: 12px;
    font-size: 30px;
    color: #3F2305;
    animation: heroFadeUp 1s ease-out forwards;
}

.facility-text h3 {
    margin-bottom: 12px;
    font-size: 22px;
    color: #3F2305;
    animation: heroFadeUp 1s ease-out forwards;
}

.facility-text p {
    margin-bottom: 12px;
    font-size: 22px;
    color: #3F2305;
    animation: heroFadeUp 1s ease-out forwards;
}

.section-divider {
    height: 1px;
    background: linear-gradient(to right, transparent, #c7b299, transparent);
    margin: 40px 0;
}

.facilities-content {
    background-color: #EFDCAB;
}

.facilities-hero h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #443627;
}

.facilities-hero p {
    font-size: 20px;
    color: #443627;
    font-weight: bold;
    font-family: sans-serif;
}

.facility-item {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 0px;
    padding: 0px 70px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.facility-item.reverse {
    flex-direction: row-reverse;
}

.facility-item img {
    width: 45%;
    border-radius: 16px;
    object-fit: cover;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.facility-item img:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

.facility-text {
    width: 55%;
}

.facility-text h3 {
    margin-bottom: 12px;
    font-size: 22px;
    color: #443627;
}

.facility-text p {
    font-size: 20px;
    line-height: 1.7;
    color: #443627;
}

.about-hero {
    padding: 30px 30px;
    text-align: center;
    background-color: #443627;
}

.about-us img {
    width: 50%;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.about-us img:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

.about-hero h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
    margin-bottom: 30px;
    animation: heroFadeUp 1s ease-out forwards;
}

.about-us p {
    font-size: 20px;
    line-height: 1.7;
    color: white;
    text-align: justify;
    margin-bottom: 20px;
    animation: heroFadeUp 1s ease-out forwards;
}

.about-us p:last-child {
    margin-bottom: 0;
}

.info {
    background-color: #443627;
}
.info-wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 70px 20px;
}

.info-box {
    background: #fff;
    padding: 30px 35px;
    border-radius: 18px;
    width: 300px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.info-box h3 {
    margin-bottom: 12px;
    color: #4a3728;
}

.info-box:hover {
    transform: translateY(-6px);
    transition: 0.3s ease;
}

footer {
    text-align: center;
    padding: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: white;
    border-top: 2px solid #e7e3df;
}
